<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{%block content%}



    <!-- Custom styles for this page -->
    <link href="{%static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {%include 'alertmessages.html'%}
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">รายชื่อในระบบ จำนวน {{ num_task }} คน</h6>
                            
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ลำดับ</th>
                                            <th>ยศ-ชื่อ-สกุล</th>
                                            <th>หน้าที่รับเวร</th>
                                            <th>สังกัด</th>
                                            <th>เข้าเวรครั้งล่าสุด</th>
                                            <th>จัดการ</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ลำดับ</th>
                                            <th>ยศ-ชื่อ-สกุล</th>
                                            <th>หน้าที่รับเวร</th>
                                            <th>สังกัด</th>
                                            <th>เข้าเวรครั้งล่าสุด</th>
                                            <th>จัดการ</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <div class="form-check">
                                            {% for data in all_data%}
                                            <tr>
                                             
                                                <td>{{ forloop.counter}}</td>
                                                <td>{{ data.FullName }}</td>
                                                <td>{{ data.dutytype_name }}</td>
                                                <td>{{ data.unit_name }}</td>
                                                <td>{{ data.start }}</td>
                                                
                                                <td>
                                                    <a href = "{% url 'delete_user' data.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger" >ลบ</a>
                                                    <a href = "{% url 'edit_user' data.id %}" class="btn btn-warning" >แก้ไข</a>{{request.users}}</td>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
             <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    


{%endblock content%}